<div class="main">
	<h1>Home</h1>
	<form action="PAGINA_DESTINO" method="GET" class="search-box">
		<input
			type="text"
			name="q"
			class="search-input"
			placeholder="Search..."
		/>
		<button type="submit" class="search-button">Search</button>
	</form>

</div>